.projects--container {
    @apply  p-2 flex flex-wrap justify-center pt-20 pb-20;
}

.project--container {
    @apply flex flex-col items-center justify-center max-w-sm mx-auto p-10;
}

.project--image {
    @apply h-64 bg-center bg-contain bg-no-repeat;
}

.project--image-wrapper {
    @apply pb-10  bg-gray-300  rounded-lg shadow-md bg-indigo-600 dark:bg-indigo-400;
}

.project--title-wrapper {
    @apply w-56 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg md:w-64 dark:bg-gray-800;
}

.project--title {
    @apply py-2 font-bold tracking-wide text-center text-gray-800 uppercase dark:text-white;
}

.project--info-wrapper {
    @apply flex items-center justify-between px-3 py-2 bg-gray-200 dark:bg-gray-700;
}

.project--link {
    @apply px-2 py-1 text-xs font-semibold text-white uppercase transition-colors duration-200 transform bg-gray-800 rounded hover:bg-gray-700 dark:hover:bg-gray-600 focus:bg-gray-700 dark:focus:bg-gray-600 focus:outline-none;
}